@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');
.header {
  text-align: center;
  padding: 50px;
  &__heading {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: #333;
  }
}
.entry-forms {
  margin: 120px auto 20px;
}
@media only screen and (max-width: 768px)  {
  .entry-forms {
    margin: 80px auto 50px;
  }
}