@use 'variables';

.header {
  text-align: center;
  padding: 50px 50px 70px;

  &__heading {
    font-family: variables.$font-title;
    font-weight: 700;
    font-size: 90px;
    color: variables.$secondary-dark;
  }
}

.entry-forms {
  position: fixed;
  top: calc(50% - 48px); // both forms - 96px
  width: 100%;
  margin: auto;
}

@media only screen and (max-width: 700px), screen and (max-height: 500px) {
  .header {

    &__heading {
      font-size: 64px;
    }
  }

  .entry-forms {
    position: static;
    margin: 20px auto 80px;
  }
}
