@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');
.header {
  text-align: center;
  padding: 50px 50px 70px;
  &__heading {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-weight: 700;
    font-size: 5rem;
    color: #333;
    // background: -webkit-linear-gradient(#eee, #333);
    // background-clip: text;
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
  }
}
.entry-forms {
  position: fixed;
  top: calc(50% - 48px);
  width: 100%;
  margin: auto;
}
@media only screen and (max-width: 500px)  {
  .entry-forms {
    position: static;
    margin-top: 20px;
  }
}
@media only screen and (max-height: 500px)  {
  .entry-forms {
    position: static;
    margin-top: 20px;
  }
}