@use 'variables';
@import '../scss/shared-styles-buttons.scss';

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 90px;
  display: flex;
  justify-content: space-between;

  &__button {
    @extend .btn--medium;
  }

  &__logo {
    border: none;
    background: none;
    height: 40px;
    width: auto;
    margin: 10px;
    padding: 2px 16px;
    font-family: "Montserrat Subrayada", sans-serif;
    font-size: 40px;
    color: goldenrod;
    word-spacing: 1.5;
    letter-spacing: -2px;
    &:hover {
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 550px) {
  .header__button {
    font-size: 14px;
  }
  .header__logo {
    font-size: 30px;
    padding: 0;
  }
}
