@use 'variables';

.loader {
  margin: 100px auto;
  text-align: center;
}
.loader__item {
  color: variables.$tertiary-bright;
  animation: rotation 1s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}