@import '@/scss/shared-styles-buttons.scss';
.main-playlist {
  max-width: 60%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 100px;
  min-height: 100vh;
  &__youtube {
    position: relative;
  }
  &__youtube::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 80%;
    bottom: 7%;
    background-color: transparent;
    z-index: 10;
  }
  &__controls {
    display: flex;
    justify-content: center;
  }
  &__button {
    @extend .btn--medium;
    width: auto;
    margin: 20px auto;
    display: block;
    &--home {
      @extend .main-playlist__button;
      position: absolute;
      right: 0px;
      top: 0px;
      margin: 10px;
    }
    &--back {
      @extend .main-playlist__button;
      position: absolute;
      left: 0px;
      top: 0px;
      margin: 10px;
    }
    &--controls {
      @extend .main-playlist__button;
      margin: 0px;
      border: none;
      background-color: transparent;
      font-size: 30px;
      // border: 3px solid silver;
      // border-bottom: 3px solid #a2a0a0;
      // border-left: none;
      // &:first-child {
      //   border-left: 3px solid silver;
      // }
      &:hover {
        background-color: transparent;
      }
    }
    &--remove {
      @extend .main-playlist__button;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      margin: 0;
      border: 8px solid black;
      border-top: none;
      background-color: transparent;
      color: transparent;
      &--active {
        @extend .main-playlist__button--remove;
        border: 7px solid goldenrod;
        border-top: none;
      }
    }
  }
  &__video-player {
    text-align: center;
  }
  &__video-items {
    margin: 50px auto;
    display: block;
    max-width: 360px;
    overflow-y: scroll;
    scrollbar-width: none;
    max-height: calc(100vh - 200px);
    border-top: 5px solid #424242;
    border-bottom: 5px solid #424242;
    background-color: #fafafa;
  }
  &__video-item {
    background-color: black;
    text-align: center;
    margin: 10px auto;
    position: relative;
    width: 336px;
    &--active {
      @extend .main-playlist__video-item;
      background-color: goldenrod;
    }
  }
  &__title {
    @extend .heading;
    color: #424242;
    text-transform: uppercase;
    font-size: 40px;
    margin: 30px auto;
    &--ongoing {
      @extend .main-playlist__title;
      color: goldenrod;
      -webkit-text-stroke: 0.6px #424242;
    }
  }
  &__title--bg {
    @extend .heading;
    color: #424242;
    position: absolute;
    left: 0;
    right: 0;
    font-size: 400px;
    color: rgba(192, 192, 192, 0.253);
    text-align: center;
    overflow: hidden;
    white-space: pre-wrap;
    z-index: -10;
    margin: 0 auto;
  }
  &__heading {
    cursor: pointer;
    color: silver;
    font-size: 14px;
    background-color: black;
    margin: 0;
    padding: 10px;
    font-family: 'Oswald', sans-serif;
    &--active {
      @extend .main-playlist__heading;
      background-color: goldenrod;
      color: black;
      cursor: default;
      &--ongoing {
        cursor: default;
      }
    }
  }
  &__img {
    border: 3px solid black;
    &--active {
      @extend .main-playlist__img;
      border: 3px solid goldenrod;
    }
  }
  &__message--error {
    text-align: center;
    font-family: 'Anton', sans-serif;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    width: auto;
    padding: 4px;
    color: white;
    background-color: rgba(189, 80, 80, 0.9);
  }
}
@media only screen and (max-width: 400px) {
  .main-playlist {
    max-width: 98%;
    padding-bottom: 10px;
    &__button--remove {
      background-color: rgb(228, 228, 228);
      color: rgb(82, 82, 82);
      cursor: pointer;
    }
    &__button {
      font-size: 16px;
    }
    &__video-items {
      margin: 50px auto 10px;
      max-height: 494px;
    }
    &__youtube::before {
      top: 66%;
      bottom: 15%;
    }
  }
}
@media only screen and (max-width: 768px) and (min-width: 400px)  {
  .main-playlist {
    max-width: 90%;
    &__button--remove {
      background-color: rgb(228, 228, 228);
      color: rgb(82, 82, 82);
      cursor: pointer;
    }
    &__button {
      font-size: 16px;
    }
    &__youtube::before {
      bottom: 9%;
      top: 75%;
    }
  }
}