@use 'variables';
@import '@/scss/shared-styles-buttons.scss';
.main-playlist {
  max-width: 60%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 160px;
  min-height: 100vh;
  &__youtube {
    position: relative;
  }
  &__youtube::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 80%;
    bottom: 7%;
    background-color: transparent;
    z-index: 10;
  }
  &__controls {
    display: flex;
    justify-content: center;
  }
  &__button {
    @extend .btn--medium;
    width: auto;
    margin: 20px auto;
    display: block;
    &--controls {
      @extend .main-playlist__button;
      margin: 0px;
      border: none;
      background-color: transparent;
      font-size: 30px;
      &:hover {
        background-color: transparent;
      }
    }
    &--remove {
      @extend .main-playlist__button;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      margin: 0;
      border: 8px solid variables.$quoternary-dark;
      border-top: none;
      background-color: transparent;
      color: transparent;
      &--active {
        @extend .main-playlist__button--remove;
        border: 7px solid variables.$tertiary-bright;
        border-top: none;
      }
    }
  }
  &__video-player {
    text-align: center;
  }
  &__video-items {
    margin: 50px auto;
    display: block;
    max-width: 360px;
    overflow-y: scroll;
    scrollbar-width: none;
    max-height: calc(100vh - 200px);
    border-top: 5px solid variables.$primary-dark;
    border-bottom: 5px solid variables.$primary-dark;
    background-color: variables.$secondary-light;
  }
  &__video-item {
    background-color: variables.$quoternary-dark;
    text-align: center;
    margin: 10px auto;
    position: relative;
    width: 336px;
    &:hover .main-playlist__button--remove {
      cursor: pointer;
      background-color: variables.$secondary-bright;
      color: variables.$primary-bright;
      transition: background-color 0.3s,
                  color 0.3s;
    }
    &--active {
      @extend .main-playlist__video-item;
      background-color: variables.$tertiary-bright;
    }
  }
  &__title {
    @extend .heading;
    color: variables.$primary-dark;
    text-transform: uppercase;
    font-size: 40px;
    margin: 30px auto;
    &--ongoing {
      @extend .main-playlist__title;
      color: variables.$tertiary-bright;
      -webkit-text-stroke: 0.6px variables.$primary-dark;
    }
  }
  &__heading {
    cursor: pointer;
    color: variables.$tertiary-light;
    font-size: 14px;
    background-color: variables.$quoternary-dark;
    margin: 0;
    padding: 10px;
    font-family: variables.$font-heading;
    &--active {
      @extend .main-playlist__heading;
      background-color: variables.$tertiary-bright;
      color: variables.$quoternary-dark;
      cursor: default;
      &--ongoing {
        cursor: default;
      }
    }
  }
  &__img {
    border: 3px solid variables.$quoternary-dark;
    &--active {
      @extend .main-playlist__img;
      border: 3px solid variables.$tertiary-bright;
    }
  }
  &__message--error {
    text-align: center;
    font-family: variables.$font-btn;
    color: variables.$primary-light;
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    width: auto;
    padding: 4px;
    color: variables.$primary-light;
    background-color: variables.$primary-error;
  }
}
@media only screen and (max-width: 400px) {
  .main-playlist {
    max-width: 98%;
    &__button--remove {
      background-color: variables.$secondary-light;
      color: variables.$tertiary-dark;
      cursor: pointer;
    }
    &__button {
      font-size: 16px;
    }
    &__video-items {
      margin: 50px auto 10px;
      max-height: 494px;
    }
    &__youtube::before {
      top: 66%;
      bottom: 15%;
    }
  }
}
@media only screen and (max-width: 768px) and (min-width: 400px)  {
  .main-playlist {
    max-width: 90%;
    &__button--remove {
      background-color: variables.$secondary-light;
      color: variables.$tertiary-dark;
      cursor: pointer;
    }
    &__button {
      font-size: 16px;
    }
    &__youtube::before {
      bottom: 9%;
      top: 75%;
    }
  }
}