@use 'variables';
@import '@/scss/shared-styles-buttons.scss';
@import '@/scss/shared-styles-forms.scss';

.main {
    display: grid;
    height: 100vh;
    margin: 0;
    grid-template-areas: 
               "playlists"
               "members";
    grid-template-columns: 1fr;
    grid-template-rows: auto 40px;
    justify-content: space-between;
}

.playlists {
  grid-area: playlists;
  max-width: 70%;
  margin: 80px auto 20px;
  text-align: center;
  position: relative;
  &__heading {
    margin: 30px auto 40px;
    font-family: variables.$font-btn;
    text-transform: uppercase;
    color: variables.$primary-dark;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  &__playlist {
    display: flex;
    background-color: variables.$tertiary-light;
    margin: 10px;
    &--ongoing {
      @extend .playlists__playlist;
      background-color: variables.$tertiary-bright;
    }
  }
  &__name {
    background-color: variables.$secondary-light;
    color: variables.$tertiary-dark;
    font-family: variables.$font-btn;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid variables.$tertiary-light;
    transition: 
                color 0.2s;
    font-size: 16px;
    height: 40px;
    width: auto;
    margin: 0px;
    padding: 2px 16px;
    &:hover {
      cursor: pointer;
    }
    &--ongoing {
      @extend .playlists__name;
      background-color: variables.$tertiary-bright;
    }
    & span {
      padding-left: 16px;
      &:hover {
        color: variables.$primary-bright;
        transition: background-color 0.3s,
        color 0.3s;
      }
    }
  }
  &__remove-button {
    @extend .btn--medium;  
    width: auto;
    margin: 0px;
    background-color: variables.$tertiary-light;
    border: 2px solid variables.$tertiary-light;
    border-left: none;
    height: 40px;
  }
  &__message--error {
    font-family: variables.$font-btn;
    color: variables.$primary-light;
    width: auto;
    padding: 4px;
    color: variables.$primary-light;
    background-color: variables.$primary-error;
  }
  &__message--success {
    @extend .playlists__message--error;
    background-color: variables.$primary-success;
  }
}

.create-playlist-form {
  @extend .entry-form;
  width: auto;
  display: flex;
  flex-direction: row;
  &__input {
    @extend .inpt--medium;
  }
  &__button {
    @extend .btn--medium;
    margin: 10px 0;
    margin-left: 0;
  }
  &__button--small {
    @extend .btn--medium;
    border-left: none;
    margin: 10px 0;
  }
}

@media only screen and (max-width: 550px)  {
  .main {
    grid-template-areas: "playlists";
    grid-template-rows: auto;
  }
  .playlists {
    min-height: 400px;
    max-width: 94%;
    width: 94%;
    margin: 60px auto 120px;
    &__name {
      font-size: 14px;
    }
    &__playlist {
      margin: 4px;
    }
  }
}