@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');
@import '@/scss/shared-styles-buttons.scss';
@import '@/scss/shared-styles-forms.scss';
.main {
  display: grid;
  height: 100vh;
  margin: 0;
  grid-template-areas: "header header"
             "playlists messages"
             "members members";
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 36px auto 32px;
  justify-content: space-between;
  &--chat-off {
    display: grid;
    height: 100vh;
    margin: 0;
    grid-template-areas: "header"
               "playlists"
               "members";
    grid-template-columns: 1fr;
    grid-template-rows: 36px auto 32px;
    justify-content: space-between;
  }
}

.header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 0px 7px silver;
  align-items: center;
  background-color: #424242;
  &__buttons {
    float: right;
  }
  &__button {
    @extend .btn--medium;
    font-size: 16px;
    height: 32px;
    margin: 0;
    padding: 1px 16px;
  }
  &__heading {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 30px;
    color: silver;
  }
}

.playlists {
  grid-area: playlists;
  max-width: 70%;
  margin: 20px auto;
  text-align: center;
  position: relative;
  &__heading {
    margin: 30px auto 40px;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    color: #424242;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  &__playlist {
    display: flex;
    background-color: silver;
    margin: 10px;
    &--ongoing {
      @extend .playlists__playlist;
      background-color: goldenrod;
    }
  }
  &__name {
    @extend .btn--medium;
    width: auto;
    margin: 0px;
    border: 2px solid silver;
    height: auto;
    &--ongoing {
      @extend .playlists__name;
      background-color: goldenrod;
    }
  }
  &__date {
    display: block;
    font-size: 10px;
    text-transform: none;
  }
  &__remove-button {
    @extend .btn--medium;  
    width: auto;
    margin: 0px;
    background-color: silver;
    border: 2px solid silver;
    border-left: none;
    height: auto;
  }
  &__message--error {
    font-family: 'Anton', sans-serif;
    color: white;
    width: auto;
    padding: 4px;
    color: white;
    background-color: rgba(189, 80, 80, 0.9);
  }
  &__message--success {
    @extend .playlists__message--error;
    background-color: rgba(80, 189, 80, 0.9);
  }
}

.create-playlist-form {
  @extend .entry-form;
  width: auto;
  display: flex;
  flex-direction: row;
  &__input {
    @extend .inpt--medium;
    border: 2px solid #e4e4e4;
  }
  &__button {
    @extend .btn--medium;
    margin: 10px 0;
  }
  &__button--small {
    @extend .btn--medium;
    border: 2px solid #e4e4e4;
    border-left: none;
    margin: 10px 0;
  }
}

@media only screen and (max-width: 768px)  {
  .main {
    height: auto;
    padding: 5px 10px;
    grid-template-areas: "header"
               "playlists"
               "messages"
               "members";
    grid-template-columns: 1fr;
    grid-template-rows: 36px auto calc(100vh - 42px) 42px;
    &--chat-off {
      height: auto;
      padding: 5px 10px;
      grid-template-rows: 36px calc(100vh - 78px) 42px;
    }
  }
  .playlists {
    min-height: 400px;
    max-width: 94%;
    width: 94%;
    margin: 50px auto 20px;
    &__name {
      font-size: 14px;
    }
    &__date {
      font-size: 9px;
    }
  }
  .header__heading {
    font-size: 20px;
  }
  .header__button {
    font-size: 14px;
  }
}