@use 'variables';
@import '@/scss/shared-styles-buttons.scss';

.members {
  grid-area: members;
  position: absolute;
  left: 90px;
  right: 90px;
  top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 60px;
  overflow: auto;
  scrollbar-width: none;
  overflow: visible;
  &--bottom {
    grid-area: members;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }
  &--messages {
    position: static;
    width: 200px;
    margin: auto auto 0px;
  }
  &__member {
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    height: 24px;
    width: 24px;
    padding: 1px;
    text-align: center;
    border-bottom: 2px solid transparent;
    position: relative;
    overflow: visible;
    &:hover {
      font-size: 17px;
      cursor: default;
    }
  }
  &__you {  
    border-top: 2px solid variables.$tertiary-light;
  }
  &__moderator {
    border-bottom: 2px solid gold;
  }
  &__tooltip {
    font-family: variables.$font-heading;
    font-size: 12px;
    position: absolute;
    top: 5px;
    left: 15px;
    border: 2px solid variables.$tertiary-light;
    background-color: variables.$primary-light--transparent;
    padding: 3px 7px;
    z-index: 101;
    &--hidden {
      display: none;
    }
    &--bottom {
      @extend .members__tooltip;
      bottom: 5px;
      top: auto;
      left: 0;
    }
  }
}
@media only screen and (max-width: 768px) and (min-width: 550px)  {
  .members {
    align-items: flex-start;
    &--bottom {
      align-items: flex-end;
    }
  }
}
@media only screen and (max-width: 550px)  {
  .members--bottom {
    position: absolute;
    left: 90px;
    right: 90px;
    top: 5px;
    bottom: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: auto;
    scrollbar-width: none;
  }
}
@media only screen and (min-width: 1024px)  {
  .members__member {
    font-size: 20px;
    height: 30px;
    width: 30px;
    padding: 2px;
    position: relative;
    &:hover {
      font-size: 22px;
    }
  }
}