@import '@/scss/shared-styles-buttons.scss';

.members {
  grid-area: members;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  &__member {
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    height: 24px;
    width: 24px;
    text-align: center;
    border-bottom: 2px solid transparent;
    position: relative;
    &:hover {
      font-size: 20px;
    }
  }
  &__moderator {
    border-bottom: 2px solid gold;
  }
  &__tooltip {
    font-size: 12px;
    position: absolute;
    top: -26px;
    left: 15px;
    width: 120px;
    border: 2px solid silver;
    background-color: white;
    padding: 3px;
    z-index: 101;
    &--hidden {
      display: none;
    }
  }
}
@media only screen and (max-width: 768px)  {
  .members {
    align-items: flex-start;
  }
}