@import '@/scss/shared-styles-buttons.scss';
@import '@/scss/shared-styles-forms.scss';
.create-member-form {
  @extend .entry-form;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  &__input {
    @extend .inpt;
    border: 2px solid #ddd;
    margin-right: 0;
  }
  &__button--small {
    @extend .btn--small;
    margin-left: 0;
  }
  &__button--emoji {
    @extend .btn--emoji;
    &:hover, &:focus {
      transition: background-color 0.1s;
    }
  }
  &__button--selected-emoji {
    @extend .btn--selected-emoji;
  }
  &__heading {
    @extend .heading;
    color: #424242;
    &--bold {
      color: goldenrod;
      text-transform: uppercase;
    }
  }
  &__subheading {
    @extend .subheading;    
    color: #424242;
  }
  &__emoji-box {
      margin: 40px auto;
      max-width: 400px;
      text-align: center;
  }
  &__message--error {
    @extend .message--error;
  }
}

.wrapper {
  display: flex;
  margin: 30px auto 40px;
}

.input--error {
  border: 2px solid rgba(189, 80, 80, 0.9);
  &:hover, &:focus {
    border: 2px solid rgba(189, 80, 80, 0.9);
  }
}

@media only screen and (max-width: 400px) {
  .create-member-form {
    margin-top: 20px;
    &__heading {
      font-size: 24px;
      margin-top: 50px;
    }
    &__subheading { 
      font-size: 18px;
      margin-bottom: 20px;
    }
    &__emoji-box {
      width: auto;
      margin: 40px 10px;
    }
    &__button--emoji {
      margin: 6px;
    }
  }
}
@media only screen and (max-width: 768px) and (min-width: 400px)  {
  .create-member-form {
    margin-top: 20px;
    &__heading {
      font-size: 24px;
      margin-top: 50px;
    }
    &__subheading { 
      font-size: 18px;
      margin-bottom: 40px;
    }
    &__emoji-box {
      width: auto;
      margin: 40px 10px;
    }
    &__button--emoji {
      margin: 6px;
    }
  }
}