@import '@/scss/shared-styles-buttons.scss';

.message-box {
  width: 100%;
  background-color: #ddd;
  border-left: 2px solid silver;
  grid-area: messages;
  justify-self: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &--off {
    display: none;
  }
  &__messages {
    max-width: 300px;
    overflow: auto;
    font-family: 'Oswald', sans-serif;
  }
  &__message-form {
    border: 2px solid silver;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
  }
  &__input {
    width: 90%;
    margin: auto;
  }
  &__textarea {
    @extend .textarea;
    resize: none;
    width: 100%;
    margin: 0;
    text-align: left;
    font-size: 14px;
    height: 66px;
    background-color: white;
    border: none;
    &:hover, &:focus {
      background-color: white;
      border: none;
    }
  }
  &__emojies {
    background-color: white;
    margin: 0;
  }
  &__button {
    @extend .btn;
    padding-top: 10px;
    font-size: 8px;
    width: 10%;
    height: auto;
    text-align: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
  }
}

@media only screen and (max-width: 768px)  {
  .message-box {
    width: 94%;
    border: none;
  }
}