@import '@/scss/shared-styles-buttons.scss';
.search {
  max-width: 60%;
  margin: 30px auto;
  text-align: center;
  &__search-field {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
  }
  &__search-optons {
    margin: 3px;
  }
  &__search-results {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 334px;
  }
  &__search-result {
    background-color: black;
    text-align: center;
    margin: 10px 0;
    position: relative;
    cursor: pointer;
  }
  &__input {
    @extend .inpt;
  } 
  &__button {
    @extend .btn;
  }
  &__label {
    font-size: 12px;
    font-family: 'Anton', sans-serif;
    margin-top: 10px;
  }
  &__button--small {
    @extend .btn--medium;
  }
  &__heading {
    color: silver;
    font-size: 14px;
    background-color: black;
    margin: 0;
    padding: 10px;
    font-family: 'Oswald', sans-serif;
  }
  &__img {
    border: 3px solid black;
  }
  &__message--error {
    font-family: 'Anton', sans-serif;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    width: auto;
    padding: 4px;
    color: white;
    background-color: rgba(189, 80, 80, 0.9);
  }
  &__message--success {
    @extend .search__message--error;
    background-color: rgba(80, 189, 80, 0.9);
  }
}
@media only screen and (max-width: 400px) {
  .search {
    max-width: 98%;
  }
}
@media only screen and (max-width: 400px) and (min-width: 768px)  {
  .search {
    max-width: 80%;
  }
}