@use 'variables';
@import '../scss/shared-styles-buttons.scss';
.search {
  max-width: 60%;
  margin: 0 auto;
  margin-top: 60px;
  padding-top: 50px;
  padding-bottom: 150px;
  text-align: center;

  &__search-field {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__search-optons {
    margin: 3px;
  }

  &__search-results {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 334px;
  }

  &__subheading {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    font-family: variables.$font-btn;
    font-weight: 500;
    color: variables.$primary-dark;
  }

  &__input {
    @extend .inpt;
    height: 40px;
    font-size: 14px;
    margin-right: 0px;
    border: 2px solid variables.$secondary-light;
    width: 280px;
  }

  &__button {
    @extend .btn;
    height: 40px;
    margin-left: 0px;
    font-size: 18px;
    width: 105px;

    &--centered {
      @extend .btn--medium;
      margin: 10px auto;
      width: auto;
      padding: 2px 16px;
    }

    &--playlist {
      @extend .btn--medium;
      width: auto;
      align-self: center;
    }
  }

  &__label {
    font-size: 12px;
    font-family: variables.$font-btn;
    margin-top: 10px;
    margin-right: 5px;
    color: variables.$secondary-dark;
  }

  &__button--small {
    @extend .btn--medium;
    width: 90px;
  }

  &__button--left {
    float: left;
    margin-left: calc(
      (100% - 326px) / 4 - 25px
    ); //326px is main content, 25px is half of button width
  }

  &__button--right {
    float: right;
    margin-right: calc((100% - 326px) / 4 - 25px);
  }

  &__message--error {
    font-family: variables.$font-btn;
    color: variables.$primary-light;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: auto;
    padding: 4px;
    width: 100%;
    color: variables.$primary-light;
    background-color: variables.$primary-error;
    z-index: 111;

    @media only screen and (max-width: 550px) {
      font-size: 12px;
    }
  }

  &__message--success {
    @extend .search__message--error;
    background-color: variables.$primary-success;
  }

  &__pages {
    z-index: 10; // so it would not cover up adding buttons
    position: fixed;
    top: calc(50% - 20px); // 20px is half of button height
    left: 0;
    right: 0;
  }
}

@media only screen and (max-width: 400px) {
  .search {
    max-width: 98%;
    &__search-results {
      width: 248px;
    }

    &__search-result img {
      width: 240px;
    }

    &__pages {
      margin-bottom: 40px;
      position: static;
    }

    &__button,
    &__button--home,
    &__button--small {
      font-size: 14px;
    }

    &__input {
      width: 205px;
    }

    &__button--left {
      float: none;
      margin-left: 2px;
      font-size: 16px;
    }

    &__button--right {
      float: none;
      margin-right: 2px;
      font-size: 16px;
    }
  }
}
@media only screen and (max-width: 768px) and (min-width: 400px) {
  .search {
    display: inherit;
    max-width: 80%;

    &__pages {
      margin-bottom: 40px;
      position: static;
    }

    &__button,
    &__button--home,
    &__button--small {
      font-size: 16px;
    }

    &__button--left {
      float: none;
      margin-left: 2px;
      font-size: 16px;
    }

    &__button--right {
      float: none;
      margin-right: 2px;
      font-size: 16px;
    }
  }
}
