@import '@/scss/shared-styles-buttons.scss';
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


$form-transition-time: 0.15s;

.emoji-box {
  margin: 0 auto;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.entry-form {
  margin: 0 auto;
  width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  &__button {
    @extend .btn;
  }
  &__input-1, &__input-2 {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border: none;
    overflow: hidden;
    transition: width $form-transition-time  ease-in;
    -webkit-transition: width $form-transition-time  ease-in;
    &--extended {
      @extend .inpt;
      transition: width $form-transition-time  ease-in;
      -webkit-transition: width $form-transition-time  ease-in;
    }
  }
  &__input-2 {
    transition: width $form-transition-time ease-in;
    -webkit-transition: width $form-transition-time  ease-in;
    &--extended {
      transition: width $form-transition-time ease-in;
      -webkit-transition: width $form-transition-time  ease-in;
      transition-delay: 0.3s;
    }
  }
  &__button--small {
    display: none;
    &--extended {
      display: inherit;
      @extend .btn--small;
    }
  }
} 

.create-member-form {
  @extend .entry-form;
  flex-direction: column;
  align-items: center;
  &__input {
    @extend .inpt;
  }
  &__button--small {
    @extend .btn--small;
  }
  &__button--emoji {
    @extend .btn--emoji;
  }
  &__heading {
    @extend .heading;
  }
  &__subheading {
    @extend .subheading;
  }
  &__emoji-box {
    @extend .emoji-box;
  }
}

.create-playlist-form {
  @extend .entry-form;
  &__input {
    @extend .inpt--medium;
  }
  &__button {
    @extend .btn--medium;
  }
  &__button--small {
    @extend .btn--medium;
  }
}

// .search {
//   width: 900px;
//   margin: 0 auto;
//   text-align: center;
//   &__search-field {
//     display: flex;
//     flex-direction: row; 
//     justify-content: center; 
//   }
//   &__search-result {
//     display: flex;
//     flex-direction: row;
//     position: relative;
//   }
//   &__input {
//     @extend .inpt;
//   } 
//   &__button {
//     @extend .btn;
//     font-size: 18px;
//     width: 40px;
//     height: 28px;
//     margin: 10px;
//   }
//   &__label {
//     font-size: 12px;
//     font-family: 'Anton', sans-serif;
//     margin-top: 10px;
//   }
//   &__button--small {
//     @extend .btn--medium;
//   }
//   &__heading {
//     color: silver;
//     position: absolute;
//     left: 0;
//     bottom: 0;
//     font-size: 14px;
//   }
//   &__img {
//     border: 3px solid silver;
//   }
// }