@use 'variables';

.html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.btn {
  background-color: variables.$secondary-light;
  color: variables.$tertiary-dark;
  border: none;
  font-family: variables.$font-btn;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  width: 205px;
  height: 44px;
  padding: 2px;
  margin: 2px;
  border: 2px solid variables.$secondary-light;
  transition: background-color 0.2s, color 0.2s;

  &:hover,
  &:focus {
    cursor: pointer;
    background-color: variables.$secondary-bright;
    color: variables.$primary-bright;
    transition: background-color 0.3s, color 0.3s;
    outline: none;
  }
  &--small {
    @extend .btn;
    width: 40px;
    justify-content: center;
  }
  &--emoji {
    @extend .btn;
    border: 2px solid transparent;
    justify-content: center;
    background-color: transparent;
    font-size: 24px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 2px 8px;
    margin: 10px;
  }
  &--selected-emoji {
    @extend .btn;
    border: 2px solid variables.$secondary-light;
    justify-content: center;
    font-size: 24px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 2px 8px;
    margin: 10px;
    background-color: variables.$secondary-bright;
    color: variables.$primary-bright;
  }
  &--medium {
    @extend .btn;
    font-size: 16px;
    height: 40px;
    width: auto;
    margin: 10px;
    padding: 2px 16px;
  }
  &--turn-on {
    color: variables.$tertiary-dark;
    border: none;
    font-family: variables.$font-btn;
    font-size: 30px;
    position: absolute;
    left: -17px;
    top: calc(50%);
    background-color: transparent;
    padding: 0;
    width: auto;
    @media only screen and (max-width: 550px) {
      display: inline-block;
      margin: 0 auto;
      left: 0;
      right: 0;
      top: -25px;
      transform: rotate(90deg);
    }
  }
  &--turn-off {
    color: variables.$secondary-light;
    border: none;
    font-family: variables.$font-btn;
    font-size: 30px;
    position: absolute;
    left: 30px;
    top: calc(50%);
    background-color: transparent;
    padding: 0;
    width: auto;
    @media only screen and (max-width: 550px) {
      right: 0;
      left: 0;
      display: inline-block;
      margin: 0 auto;
      bottom: -10px;
      top: auto;
      transform: rotate(90deg);
    }
  }
  &--hidden {
    display: none;
  }
}
.inpt {
  @extend .btn;
  border: 2px solid variables.$secondary-light;
  color: variables.$secondary-dark;
  background-color: variables.$primary-light;
  font-family: variables.$font-heading;
  font-weight: 400;
  font-size: 16px;
  text-transform: none;
  &:hover,
  &:focus {
    border: 2px solid variables.$tertiary-light;
    background-color: variables.$secondary-bright--transparent;
    cursor: auto;
    color: variables.$secondary-dark;
    transition: background-color 0.01s, color 0.01s width 0.15s linear;
    outline: none;
  }
  &--medium {
    @extend .inpt;
    font-size: 18px;
    height: 40px;
    margin: 10px 0;
    min-width: 205px;
  }
}
.input--error {
  border: 2px solid variables.$primary-error;
  &:hover,
  &:focus {
    border: 2px solid variables.$primary-error;
  }
}
.textarea {
  @extend .inpt;
}
.message {
  margin: 10px auto;
  max-width: 40%;
  text-align: center;
  font-family: variables.$font-btn;
  color: variables.$primary-light;
  padding: 4px 30px;
  &--error {
    @extend .message;
    background-color: variables.$primary-error;
  }
  &--success {
    @extend .message;
    background-color: rgb(2, 44, 2);
  }
}

.heading {
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
  font-family: variables.$font-btn;
  color: variables.$primary-dark;
  font-weight: 500;
}
.subheading {
  text-align: center;
  margin-bottom: 50px;
  font-size: 24px;
  font-family: variables.$font-btn;
  color: variables.$primary-dark;
  font-weight: 500;
}

@media only screen and (max-width: 400px) {
  .heading {
    font-size: 24px;
  }
  .subheading {
    font-size: 18px;
  }
  .emoji-box {
    width: auto;
  }
  .btn--emoji {
    font-size: 24px;
  }
  .btn--selected-emoji {
    margin: 6px;
  }
  .message {
    max-width: 90%;
    top: 240px;
  }
}
@media only screen and (max-width: 768px) and (min-width: 400px) {
  .heading {
    font-size: 24px;
  }
  .subheading {
    font-size: 18px;
  }
  .btn--emoji {
    font-size: 24px;
  }
  .btn--selected-emoji {
    margin: 6px;
  }
  .emoji-box {
    width: auto;
  }
  .message {
    max-width: 80%;
    top: 240px;
  }
}
