@import '@/scss/shared-styles-buttons.scss';
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
$form-transition-time: 0.15s;
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  }

.form {
  margin: 0 auto;
  width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .elem-1 {
    width: 205px;
    height: 38px;
    padding: 2px;
    margin: 2px;
    border: 2px solid rgb(228, 228, 228);
  }
  .elem-2, .elem-3 {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border: none;
    overflow: hidden;
    transition: width $form-transition-time  ease-in;
    -webkit-transition: width $form-transition-time  ease-in;
    &--extended {
      @extend .elem-1;
      border: 2px solid rgb(192, 192, 192);
      transition: width $form-transition-time  ease-in;
      -webkit-transition: width $form-transition-time  ease-in;
      color: #272727;
      font-family: 'Oswald', sans-serif;
      font-size: 16px;

      &:hover, &:focus {
        border: 2px solid rgb(192, 192, 192);
        background-color: rgb(255, 255, 197);
      }
    }
  }
  .elem-3 {
    transition: width $form-transition-time ease-in;
    -webkit-transition: width $form-transition-time  ease-in;
    &--extended {
      transition: width $form-transition-time ease-in;
      -webkit-transition: width $form-transition-time  ease-in;
      transition-delay: 0.3s;
    }
  }
  .elem-4 {
    display: none;
    &--extended {
      display: inherit;
      @extend .elem-1;
      width: 30px;
      text-align: center;
      justify-content: center;
    }
  }
} 

.error {
  margin: 10px auto;
  max-width: 400px;
  padding: 2px;
  display: block;
  text-align: center;
  color: rgb(211, 13, 13);
  font-family: 'Oswald', sans-serif;
}