@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
.html, body {
  margin: 0;
  padding: 0;
}
.btn {
  background-color: rgb(228, 228, 228);
  color: rgb(82, 82, 82);
  border: none;
  font-family: 'Anton', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  width: 205px;
  height: 38px;
  padding: 2px;
  margin: 2px;
  border: 2px solid rgb(228, 228, 228);
  transition: background-color 0.25s,
              color 0.25s;

  &:hover {
    cursor: pointer;
    background-color: #e8e4aa;
    color: rgb(116, 107, 61);
    transition: background-color 0.3s,
                color 0.3s;
  }
  &--small {
    @extend .btn;
    width: 30px;
    justify-content: center;
  }
  &--emoji {
    @extend .btn;
    justify-content: center;
    background-color: transparent;
    font-size: 30px;
    width: 40px;
    height: 40px;
    padding: 2px 8px;
    margin: 10px;
  }
  &--medium {
    @extend .btn;
    font-size: 18px;
    height: 30px;
    width: 40px;
    margin: 10px;
  }
}
.inpt {
  @extend .btn;
  border: 2px solid rgb(192, 192, 192);
  color: #272727;
  background-color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  text-transform: none;
  &:hover, &:focus {
    border: 2px solid rgb(192, 192, 192);
    background-color: rgb(255, 255, 232);
    cursor: auto;
    color: #272727;
    transition: none;
  }
  &--medium {
    @extend .inpt;
    font-size: 18px;
    height: 30px;
    margin: 10px 0;
    min-width: 205px;
  }
}
.message {
  margin: 10px auto;
  max-width: 400px;
  padding: 2px;
  display: block;
  text-align: center;
  color: rgb(211, 13, 13);
  font-family: 'Oswald', sans-serif;
  &--error {
    color: rgb(211, 13, 13);
  }
  &--success {
    color: green;
  }
}

.heading {
  margin-bottom: 30px;
  font-size: 30px;
  font-family: 'Anton', sans-serif;
}
.subheading {
  margin-bottom: 50px;
  font-size: 24px;
  font-family: 'Anton', sans-serif;
}
// .members {
//   grid-area: members;
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: end;
//   &__member {
//     display: inline-block;
//     font-size: 18px;
//     margin: 2px;
//     height: 24px;
//     width: 24px;
//     text-align: center;
//     border-bottom: 2px solid transparent;
//     position: relative;
//     &:hover {
//       font-size: 20px;
//     }
//   }
//   &__moderator {
//     border-bottom: 2px solid gold;
//   }
//   &__name {
//     color: gold;
//   }
//   &__tooltip {
//     font-size: 12px;
//     position: absolute;
//     top: 0;
//     left: 20px;
//     width: 120px;
//     border: 2px solid silver;
//     background-color: white;
//     padding: 3px;
//     z-index: 101;
//     &--hidden {
//       display: none;
//     }
//   }
// }
.message-box {
  grid-area: messages;
  &--off {
    display: none;
  }
}
.playlists {
  grid-area: playlists;
  &__playlist {
    background-color: silver;
    margin: 10px;
    width: auto;
  }
  &__name {
    @extend .btn--medium;
    width: auto;
    margin: 0px;
    border: 2px solid silver;
  }
  &__remove-button {
    @extend .btn--medium;  
    width: 30px;
    margin: 0px;
    border: 2px solid silver;
    border-left: none;
  }
}
.main {
  display: grid;
  height: 100vh;
  margin: 0;
  grid-template-areas: "header header"
             "playlists messages"
             "members members";
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 2fr 6fr 1fr;
  justify-content: space-between;
  &--chat-off {
    display: grid;
    grid-template-areas: "header"
               "playlists"
               "members";
    grid-template-columns: 1fr;
    justify-content: space-between;
  }
}
.header {
  grid-area: header;
  &__button {
    @extend .btn--medium;
    float: right;
    width: auto;
  }
}